<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 中的计算属性</title>
</head>
<script type="text/javascript" src="./js/vue.js"></script>

<body>
    <div id="app">
        姓：<input type="text" v-model="firstName"> </br>
        名：<input type="text" v-model="lastName"> </br>
        全名：<span>{{fullName}}</span>

        <!-- 
            这里特别要注意：计算属性不能加 ‘()’
            全名：<span>{{fullName()}}</span>
         -->
    </div>

    <script type="text/javascript">
        const vm = new Vue({
            el: "#app",
            data: {
                name: "Vue 中的计算属性",
                firstName: "张",
                lastName: "三"
            },
            computed: {
                /*
                计算属性的简写方式: 只考虑读取，不考虑修改

                fullName: function() {} 
                所以又可以简写为 fullName()
                */
                fullName () {
                    console.log('get 被调用了')
                    return this.firstName + '-' + this.lastName
                }

                /*
                计算属性的完整写法:
                fullName: {
                    get () {
                        console.log('get 被调用了')
                        return this.firstName + '-' + this.lastName
                    },
                    set (value) {
                        console.log('set 被调用了' + value)
                        const arr = value.splite('-')
                        this.firstName = arr[0]
                        this.lastName = arr[1]
                    }
                }
                */
            }
        }) 
    </script>
</body>

</html>